<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem id="monstar_main.menu_root" name="Monstar Main" />

        <!-- Sub menu -->
        <menuitem id="monstar_main.menu_child" name="Report" parent="monstar_main.menu_root"/>

        <!-- Existing report menuitems -->
        <menuitem id="menu_partner_ledger" name="Partner Ledger" parent="monstar_main.menu_child" action="action_partner_ledger" sequence="10"/>
        <menuitem id="menu_partner_ledger_group" name="Partner Ledger Group" parent="monstar_main.menu_child" action="action_partner_ledger_group" sequence="20"/>
        <menuitem id="menu_general_ledger" name="General Ledger" parent="monstar_main.menu_child" action="action_general_ledger" sequence="30"/>
        <menuitem id="menu_stock_summary_wizard" name="Stock Summary" parent="monstar_main.menu_child" action="action_stock_summary_wizard" sequence="40"/>
        <menuitem id="menu_group_party" name="Party Group Summary" parent="monstar_main.menu_child" action="action_group_party" sequence="50"/>
        <menuitem id="menu_beta_groups" name="Vendor Groups" parent="monstar_main.menu_child" action="action_beta_mode" sequence="60"/>

        <!-- NEW: Party Stock Summary -->
        <menuitem id="menu_party_stock_summary" name="Party Stock Summary" parent="monstar_main.menu_child" action="action_party_stock_summary" sequence="70"/>

    </data>
</odoo>
